html {
    background: #ccc;
    margin: 0;
    padding:0;
    font-size: .5rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;

}

#main {
    margin-top: 5rem;
    background: red;
    border-radius: 15px;
    width: 70rem;
    margin: 0 auto;


    
}

h1{
    text-align: center;
    font-size: 5rem;
    padding: .5rem 2rem;
    margin-bottom:0;
}

.topButton {
    padding: .9rem;
    text-align: center;
    width: 180px;
    margin: 0 auto;
    
}

.bottomButton {
    padding: 2rem;
    width: 180px;
    margin: 0 auto;

    
}

button{
    display: inline-block;
    padding: .5rem;
}

.bottomButton button {
    border-radius: 7rem;
    padding: 3rem 2rem;
    margin-right: 2rem;
}

#grid{
    position: relative;
    width: 50rem;
    height: 50rem;
    background: black;
    margin: 0rem auto;
    padding: 0;
	border: none;
}

.box{
    
    background: white;
    float: left;
    color: white;

}

.black{
    background: black;
}
#reset {
    position: relative;
    left: -130px;
}

#clear{
    position: relative;
    right: -160px;
}


.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 40rem;
    height: 30rem;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
