html {
    background: #ccc;
    margin: 0;
    padding:0;
    font-size: .5rem;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 4rem;

}

#main {
    margin-top: 5rem;
    background: red;
    border-radius: 15px;
    width: 60rem;
    margin: 0 auto;


    
}

h1{
    position: absolute;
    top: 2rem;
    text-align: center;
    font-size: 2.5rem;
    padding: .5rem 2rem;
    margin-bottom:0;
}

.topButton {
    position: relative;
    padding: .9rem;
    text-align: center;
    margin: 0 auto;
    
}

.topButton button{
    background-color: #fff; 
    border: none;
    color: black;
    padding: .5rem 2rem;
    margin: .5rem;
    text-decoration: none;
    border-radius: .5rem;
    border: 1px solid white;


}


.bottomButton {
    position: relative;
    padding: 1.5rem;
    width: 180px;
    margin: 0 auto;

    
}

button{
    display: inline-block;
    padding: .5rem;
}

button:hover{
    background-color: red;
    border: 1px solid #ccc;
    color: white;
}

button:active {
    background-color: red;
}

button:focus {
    background-color: red;
    color:white;
    border: 1px solid #ccc;
}
  


.bottomButton button {
    border-radius: 7rem;
    padding: 3rem 2rem;
    margin-right: 2rem;
}

#grid{
    position: relative;
    width: 50rem;
    height: 50rem;
    background: black;
    margin: 0rem auto;
    padding: 0;
	border: none;
}

.box{
    
    background: white;
    float: left;
    color: white;

}

.black{
    background: black;
}
#reset {
    position: relative;
    left: -130px;
}

#clear{
    position: relative;
    right: -160px;
}


.modal {
    z-index: 9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(222, 11, 1, 2);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 2rem 1.5rem;
    width: 40rem;
    height: 40rem;
    border-radius: 0.5rem;
    
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
    margin-bottom: 2rem;
}
.close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: .9;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    
}

#clear, #reset{
    width: 7.5rem;

}
h2{
    text-align: center;
    font-size: 4rem;
}